# Ignore WASP symlink and raw/generated data
Scripts/WASP/WASP/
Processed_files/
Data/HTL2_fastq_files/
Data/concatenated_fastq_files/
Data/map_to_fastq_HTL2_168_samples.csv
QC/

# Ignore Nextflow logs and metadata
Logs/
.nextflow.log*
.nextflow/
work/

