// =============================
// PARAMETER DEFINITIONS
// =============================
params {

  // Concatenate fastq files
  raw_fastq_input_dir     = 'Data/HTL2_fastq_files'
  concat_fastq_dir        = 'Data/concatenated_fastq_files'
  log_dir                 = 'Logs/concatenate_fastq_files'

  // FasatQC
  fastqc_dir              = 'QC/fastqc_reports'

  // Trimgalore
  trimgalore_input_dir    = 'Data/concatenated_fastq_files'
  trimgalore_output_dir   = 'Data/QC_fastq_files'

  // PICARD fastqToSam
  fastqtosam_output_dir   = 'Processed_files/1.FastqToSam'
  publish_mode            = 'symlink'  // or 'copy'
}

// =============================
// CLUSTER EXECUTION SETTINGS
// =============================
process.executor = 'condor'

// =============================
// PROCESS-SPECIFIC RESOURCES
// =============================
process {

  // --- concat_fastq process ---
  withName: concat_fastq {
    cpus    = 1
    memory  = '2 GB'
    time    = '1h'
    publishDir = [ path: params.concat_fastq_dir, mode: params.publish_mode ]
  }

  // --- fastqc process ---
  withName: fastqc {
    cpus    = 1
    memory  = '4 GB'
    time    = '1h'
    publishDir = [ path: params.fastqc_dir, mode: params.publish_mode ]
  }

    // --- trimgalore process ---
  withName: trim_galore {
    maxForks = 30
    cpus        = 8
    memory      = '4 GB'
    time        = '1h'
    publishDir  = [ path: params.trimgalore_output_dir, mode: params.publish_mode ]
  }

  // --- fastqtosam process ---
  withName: fastqtosam {
    cpus    = 1
    memory  = '3 GB'
    time    = '1h'
    publishDir = [ path: params.fastqtosam_output_dir, mode: params.publish_mode ]
  }

  
}
