// =============================
// PARAMETER DEFINITIONS
// =============================
params {

  // =============================
  // INPUT & OUTPUT DIRECTORIES
  // =============================

  // Set subfolder (optional)
  subfolder                             = "Set name"
  
  // Project root directory
  project_root                      =  projectDir
  data_root                         = "${params.project_root}/Data"
  proc_root                         = "${params.project_root}/Processed_files"
  qc_root                           = "${params.project_root}/QC"
  modules_dir                       = "${params.project_root}/modules"

  // Raw FASTQ input & concatenated files
  raw_fastq_input_dir               = "${params.data_root}/Fastq_files/${params.subfolder}"
  concat_fastq_dir                  = "${params.data_root}/Concatenated_fastq_files/${params.subfolder}"

  // QC outputs
  fastqc_dir                        = "${params.qc_root}/raw_fastqc_reports/${params.subfolder}"


  // Trim Galore
  trimgalore_output_dir             = "${params.proc_root}/1.AUS_fastq_files_QC_trimmed/${params.subfolder}"

  // SortMeRNA outputs
  sortmerna_output_dir              = "${params.proc_root}/2.SortMeRNA/${params.subfolder}"

  // STAR alignment
  align_reads_output_dir            = "${params.proc_root}/3.AlignReads/${params.subfolder}"


  // Other BAM processing steps
  markduplicates_output_dir         = "${params.proc_root}/5.MarkDuplicates/${params.subfolder}"
  splitncigarreads_output_dir        = "${params.proc_root}/6.SplitNCigarReads/${params.subfolder}"
  baserecalibrator_output_dir        = "${params.proc_root}/7.BaseRecalibrator/${params.subfolder}"
  applybqsr_output_dir               = "${params.proc_root}/8.ApplyBQSR/${params.subfolder}"
  haplotypecaller_output_dir         = "${params.proc_root}/9.HaplotypeCaller/${params.subfolder}"
  variantfiltration_output_dir       = "${params.proc_root}/10.VariantFiltration/${params.subfolder}"
  extractvcfsnps_output_dir         = "${params.proc_root}/11.ExtractVcfSNPs/${params.subfolder}"
  findintersectingsnps_output_dir    = "${params.proc_root}/12.FindIntersectingSNPs/${params.subfolder}"
  remapreads_output_dir             = "${params.proc_root}/13.RemapReads/${params.subfolder}"
  filterremapreads_output_dir       = "${params.proc_root}/14.FilterRemapReads/${params.subfolder}"
  merge_remap_reads_output_dir      = "${params.proc_root}/15.MergeRemapReads/${params.subfolder}"
  filter_duplicate_reads_output_dir = "${params.proc_root}/16.FilterDuplicateReads/${params.subfolder}"
  select_biallelic_sites_output_dir = "${params.proc_root}/17.SelectBiallelicSites/${params.subfolder}"
  ase_read_counter_output_dir       = "${params.proc_root}/18.ASEReadCounter/${params.subfolder}"
  feature_counts_output_dir         = "${params.proc_root}/19.FeatureCounts/${params.subfolder}"


  // Temporary & Log Directories
  tmp_dir                           = "${params.project_root}/Processed_files/TMP/${params.subfolder}"
  log_dir                           = "${params.project_root}/Logs/${params.subfolder}"

  // =============================
  // REFERENCE FILES
  // =============================

  // Common resuroces
  common_resources                 = 'path-to-common_recources'
  // STAR genome directory
  star_genome                       = "${params.proc_root}/STAR_genome_GRCh38_gencode_v43"

  // Reference genome FASTA
  reference_genome                  = "${params.common_resources}/GRCh38.v43_primary_assembly/GRCh38.primary_assembly.genome.fa"
  reference_gtf                     = "${params.common_resources}/GRCh38.v43_primary_assembly/gencode.v43.primary_assembly.annotation.gtf"
  // SortMeRNA reference
  sortmerna_ref                     = "${params.common_resources}/SortMeRNA_ref/smr_v4.3_default_db.fasta"

  // SortMeRNA index directory
  sortmerna_index_dir               = "${params.common_resources}/SortMeRNA_ref/idx"

  // VCF with known SNPs/indels
  snp_sites                         = "${params.common_resources}/SNP_sites"

  // WASP directory
  wasp_dir                          = "${params.common_resources}/WASP/WASP"

  // =============================
  // SCRIPT & TOOLS
  // =============================

  // Executables
  sortmerna_bin           = 'path-to-sortmerna'
  reformat_bin            = 'path-to-reformat.sh'

  // =============================
  // PIPELINE SETTINGS
  // =============================

  publish_mode            = 'symlink'  // or 'copy'

}

// =============================
// CLUSTER EXECUTION SETTINGS
// ============================

process {
  executor = 'condor'
  clusterOptions = '''
    log     = $(Cluster).log
  '''
}
// =============================
// PROCESS-SPECIFIC RESOURCES
// =============================
process {

  // --- concat_fastq process ---
  withName: Concatenate_fastq {
    maxForks = 100
    cpus    = 1
    memory  = '100 MB'
    publishDir = [ path: params.concat_fastq_dir, mode: params.publish_mode ]
   
  }

  // --- fastqc process ---
  withName: FastQC {
    maxForks = 100
    cpus    = 1
    memory  = '1 GB'
  }

    // --- multiqc process ---
  withName: MultiQC {
    cpus    = 1
    memory  = '100 MB'
  }

  // --- sortmerna process ---
  withName: SortMeRNA {
    maxForks = 20
    cpus    = 16
    memory  = '120 GB'
  }

  // --- SplitCleanReads process ---
  withName: SplitCleanReads {
    maxForks = 100
    cpus    = 1
    memory  = '5 GB'
}

    // --- trimgalore process ---
  withName: TrimGalore {
    maxForks = 205
    cpus        = 4
    memory      = '1 GB'
    publishDir  = [ path: params.trimgalore_output_dir, mode: params.publish_mode ]
  }

  // --- genomeGenerate process ---
  withName: GenomeGenerate {
    maxForks = 1
    cpus    = 8
    memory  = '40 GB'
  }

// --- AlignReads process ---
  withName: AlignReads {
    maxForks = 30
    cpus    = 8
    memory  = '50 GB'
    publishDir  = [ path: params.align_reads_output_dir, mode: params.publish_mode ]
  }

  // --- MarkDuplicates process ---
  withName: MarkDuplicates {
    maxForks = 50
    cpus    = 1
    memory  = '30 GB'
    publishDir  = [ path: params.markduplicates_output_dir, mode: params.publish_mode ]
  }

  // --- SplitNCigarReads process ---
  withName: SplitNCigarReads {
    maxForks = 100
    cpus    = 1
    memory  = '15 GB'
    publishDir  = [ path: params.splitncigarreads_output_dir, mode: params.publish_mode ]
  }

  // --- BaseRecalibrator process ---
  withName: BaseRecalibrator {
    maxForks = 100
    cpus    = 1
    memory  = '10 GB'
    publishDir  = [ path: params.baserecalibrator_output_dir, mode: params.publish_mode ]
  }
  
  // --- Apply BaseRecalibration process ---
  withName: ApplyBQSR {
    maxForks = 100
    cpus    = 1
    memory  = '5 GB'
    publishDir  = [ path: params.applybqsr_output_dir, mode: params.publish_mode ]
  }

   // --- HaplotypeCaller process ---
  withName: HaplotypeCaller {
    maxForks = 100
    cpus    = 1
    memory  = '15 GB'
    publishDir  = [ path: params.haplotypecaller_output_dir, mode: params.publish_mode ]
  }

  // --- VariantFiltration process ---
  withName: VariantFiltration {
    maxForks = 100
    cpus    = 1
    memory  = '5 GB'
    publishDir  = [ path: params.variantfiltration_output_dir, mode: params.publish_mode ]
  }

    // --- ExtractVcfSNPs process ---
  withName: ExtractVcfSNPs {
    maxForks = 100
    cpus    = 1
    memory  = '100 MB'
    publishDir  = [ path: params.extractvcfsnps_output_dir, mode: params.publish_mode ]
  }

  // --- FindIntersectingSNPs process ---
  withName: FindIntersectingSNPs {
    maxForks = 100
    cpus    = 1
    memory  = '3 GB'
    publishDir  = [ path: params.findintersectingsnps_output_dir, mode: params.publish_mode ]
  }

  // --- RemapReads process ---
  withName: RemapReads {
    maxForks = 30
    cpus    = 8
    memory  = '50 GB'
    publishDir  = [ path: params.remapreads_output_dir, mode: params.publish_mode ]
  }

  // --- FilterRemapReads process ---
  withName: FilterRemapReads {
    maxForks = 100
    cpus    = 1
    memory  = '5 GB'
    publishDir  = [ path: params.filterremapreads_output_dir, mode: params.publish_mode ]
  }

  // --- MergeRemappedReads process ---
  withName: MergeRemapReads {
    maxForks = 100
    cpus    = 1
    memory  = '2 GB'
    publishDir  = [ path: params.merge_remap_reads_output_dir, mode: params.publish_mode ]
  }

  // --- FilterDuplicateReads process ---
  withName: FilterDuplicateReads {
    maxForks = 100
    cpus    = 1
    memory  = '2 GB'
    publishDir  = [ path: params.filter_duplicate_reads_output_dir, mode: params.publish_mode ]
  }

  // --- SelectBiallelicSites process ---
  withName: SelectBiallelicSites {
    maxForks = 100
    cpus    = 1
    memory  = '2 GB'
    publishDir  = [ path: params.select_biallelic_sites_output_dir, mode: params.publish_mode ]
  }

  // --- ASEReadCounter Process ---
  withName: ASEReadCounter {
    maxForks = 100
    cpus    = 1
    memory  = '2 GB'
    publishDir  = [ path: params.ase_read_counter_output_dir, mode: 'copy' ]
  }

   // --- FetaureCounts Process ---
  withName: FeatureCounts {
    maxForks = 100
    cpus    = 1
    memory  = '3 GB'
    publishDir  = [ path: params.feature_counts_output_dir, mode: 'copy' ]
  }


}
